<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695921547052-8e2117bgvrl1juk78taski54i5mnp8pk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695921547052-8e2117bgvrl1juk78taski54i5mnp8pk</string>
	<key>API_KEY</key>
	<string>AIzaSyA_-Bh4-HzXjgJc5Ad-FmerjY6hJCTkeXE</string>
	<key>GCM_SENDER_ID</key>
	<string>695921547052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bsafproductinfo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bsafproductinfo-75395</string>
	<key>STORAGE_BUCKET</key>
	<string>bsafproductinfo-75395.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695921547052:ios:0d62e2f384da71d6cb7e89</string>
</dict>
</plist>